{% extends 'base.html.twig' %}

{% import "header.html.twig" as macro %}
{# {% block title %}Hello DashboardController!{% endblock %} #}

{% block body %}

{{ macro.header_template() }}

<div class="container">
  <div class="row">
    <div class="col">
      card ca // to remove
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>chiffre d affaire paye : {{ CApayed }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <canvas id="myChart" width="400" height="400">Column chart // to remove</canvas>
    </div>
  </div>
  <div class="row">
    <div class="col">
      card cs // to remove
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>a bunch of data</p>
        </div>
      </div>
    </div>
    <div class="col">
      <canvas id="myChart" width="400" height="400">Column chart // to remove</canvas>
    </div>
  </div>
</div>

<script>

</script>

{% endblock %}
