{% extends 'base.html.twig' %}

{% import "header.html.twig" as macro %}
{# {% block title %}Hello DashboardController!{% endblock %} #}

{% block body %}

{{ macro.header_template(user_id) }}

<div>
    <p>page content</p>
</div>

{% endblock %}
